<html>
    <head>
        <style>

            .caja{
                border: 1px solid #000;
                width:500px;
                float: left;
                margin-left: 10px;
                margin-right: 10px;
            }

            .segmento{
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .barraVertical{
                width: 200px;
                float:left;
                height: 1000px;
            }

        </style>
    </head>
    <body>
        {% include  "gestionVeterinarios/barra.html" %}
        <div class="barraVertical">
            hola
        </div>
        <div class="mainBody">
            <div class="segmento">
                <div class="caja">
                    <div><b>Dr. Nombre Apellido</b></div>
                    <i>Nombre consulta</i>
                    <div>&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                </div>
        
                <div class="caja">
                    <div><b>Servicios</b></div>
                    <div>&#x2610; No hace visitas a domicilio</div>
                    <div>&#x2611; Atiende urgencias</div>
                </div>
            </div>
            
            <div class="segmento">
                <div class="caja">
                    <div><b>Datos de Contacto:</b></div>
                    <div>Región</div>
                    <div>Comuna</div>
                    <div>Dirección</div>
                    <div>Teléfono</div>
                    <div>Correo</div>
                    <div>Sitio Web</div>
                </div>
                <div class="caja">
                    <table class="table">
                        <tr>
                          <th>Día</th>
                          <th>Horas</th>
                        </tr>
                        <tr>
                          <td>Lun</td>
                          <td>09:00 - 17:30</td>
                        </tr>
                        <tr>
                          <td>Mar</td>
                          <td>09:00 - 17:30</td>
                        </tr>
                        <tr>
                          <td>Mié</td>
                          <td>09:00 - 17:30</td>
                        </tr>
                        <tr>
                          <td>Jue</td>
                          <td>09:00 - 17:30</td>
                        </tr>
                        <tr>
                          <td>Vie</td>
                          <td>09:00 - 17:30</td>
                        </tr>
                        <tr>
                            <td>Sáb</td>
                            <td>09:00 - 17:30</td>
                        </tr>
                        <tr>
                            <td>Dom</td>
                            <td>09:00 - 17:30</td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>
    </body>
</html>